{% extends "avisappadminBundle:Layers:basePrincipal.html.twig" %}
{% block title%} Listar Qué es? {% endblock%}
{% block padre %}<a href="{{path('admin_textoqueesdos_new')}}">Crear Qué es?</a>{% endblock %}
{% block hijo %} Listar Qué es? {%endblock%}
{% block titulo %} Listar Qué es? {%endblock %}
{% block contenido %}

    <table class="records_list">
        <thead>
            <tr>

                <th>Descripción</th>
                <th>Eliminar</th>
                <th>Editar</th>
                
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.descripcion }}</td>
                <td>
                <form action="{{ path('admin_textoqueesdos_delete', { 'id': entity.id }) }}" method="post">
                    <input type="hidden" name="_method" value="DELETE" />
                        {{ form_widget(deleteForms[entity.id]) }}
                </form>
                </td>
                <td><a href="{{ path('admin_textoqueesdos_edit', { 'id': entity.id }) }}" class="btn btn-primary">Editar</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
