{% extends "avisappadminBundle:Layers:basePrincipal.html.twig" %}
{% block title%} Listar, Texto Que es Dos? {% endblock%}
{% block padre %}<a href="{{path('admin_textoqueesdos')}}">Listar Texto Que es Dos?</a>{% endblock %}
{% block hijo %} Listar, Texto Que es Dos? {%endblock%}
{% block titulo %} Listar, Texto Que es Dos? {%endblock %}
{% block contenido %}
<div class="horizontal-form" rol="form">
    {{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.descripcion, 'Texto Slider: ', {'label_attr': {'class' :' col-sm-2 control-label'} }) }}
        <div class="col-sm-10">
            {{ form_widget(form.descripcion, {'attr' : { 'class' : 'form-control'}})}}
        </div>
    </div>
    <br />
    <br />
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
             {{form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}})}} 
        </div>
        </div>
    {{ form_end(form) }}
</div>
{% endblock %}
