{% extends "avisappadminBundle:Layers:basePrincipal.html.twig" %}
{% block title%} Editar, Paso a Paso. {% endblock%}
{% block padre %}<a href="{{path('admin_caluga')}}">Listar, Paso a Paso.</a>{% endblock %}
{% block hijo %} Editar, Paso a Paso.{%endblock%}
{% block titulo %} Editar, Paso a Paso.{%endblock %}
{% block contenido %}
<div class="horizontal-form " rol="form">
   
 {{ form_start(edit_form)}}
        <div class="form-group">
        {{form_label(edit_form.titulo, 'Título: ', {'label_attr': {'class': 'col-sm-2 control-label'}})}}
                <div class="col-sm-10">
            {{form_widget(edit_form.titulo, {'attr': {'class': 'form-control'}})}}
                    </div>
                </div>
                <br />
                <br />
                <div class="form-group">
        {{form_label(edit_form.descripcion, 'Descripción: ', {'label_attr': {'class': 'col-sm-2 control-label'}})}}
                        <div class="col-sm-10">
            {{form_widget(edit_form.descripcion, {'attr': {'class': 'form-control'}})}}
                            </div>
                        </div>
                        <br />
                        <br />
                        <br />
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                            {{form_widget(edit_form.submit)}}
                                        </div>
                                    </div>
                                </div>
    {{ form_end(edit_form)}}
{% endblock %}
