{% extends "avisapppaginasBundle:Layers:base.html.twig" %}
{% block body %}
	<!-- Header Section -->
	<div id="section1">
		<div class="top_wrapper">
			<div class="top">
				<div class="wrapper">	
					<div class="container text-center">
						<div class="row">
							<div class="col-md-12" data-uk-scrollspy="{cls:'uk-animation-scale-up', delay:300}">
                                                            
								<div class="logo"><img src="{{asset('bundles/avisapppaginas/images/logo/logo_short.png')}}" alt="logo"></div>
							</div>
						</div>
					</div>
					
				<div class="slogan_wrapper">	
					<div class="container text-center">
						<div class="row">
							<div class="col-md-8 col-md-offset-2">														
								<ul class="bxslider">
                                                                    {% for slider in slider %}
									<li>
										<h2>{{slider.texto}}</h2>										
									</li>
                                                                     {% endfor %}
								</ul>								
							</div>							
						</div>
					</div>
				</div>
				
					<div class="container text-center">
						<div class="row">
                        
							<div class="col-md-12">								
								<button type="button" class="btn purchase_button">INGRESA AHORA!</button>
							</div>
                         
						</div>	
					</div>
				</div>							
			</div>
			
			<!-- Fixed navbar -->
			<div id="nav-wrapper">
				<div id="nav" class="navbar">
					<div class="container">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="#"><img src="{{asset('bundles/avisapppaginas/images/logo/logo.png')}}" alt="logo"></a>
						</div>
						<div class="navbar-collapse collapse">
							<ul class="nav navbar-nav navbar-right">
                            	<li><a href="#welcome">Qué es?</a></li>
								<li><a href="#about">Paso a Paso</a></li>
								<li><a href="#service2">Beneficio</a></li>		
								<li><a href="#contact">Contacto</a></li>
							</ul>
						</div><!--/.nav-collapse -->
					</div>
				</div>  	
			</div>			
			
		</div>	
	</div>
    
    <br></br>
    <br></br>
    
    <!-- Separator -->	
	<section id="quees" class="separator">
		<div class="bg bg1">
			<div class="bgColor">
				<div class="container text-center">
					<div class="row">
					  <div class="col-md-8 col-md-offset-2 title" data-uk-scrollspy="{cls:'uk-animation-scale-up', repeat: true}">
						<!--<h2>Propuesta de valor</h2>-->
						  <p>Mejora la  comunicación con tus vecinos y con todos los que te rodean gracias a  AvisAPP, que te permite conocer lo que ocurre a tu alrededor e  interactuar con otros usuarios cerca tuyo de manera gratuita.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
    </section>	    
	
	<!-- Welcome -->
	<section id="welcome" class="wrapper adjust">
		<div class="container text-center">
			<div class="row">
				<div class="col-md-12 title" data-uk-scrollspy="{cls:'uk-animation-scale-up', repeat: true}">
					<h2><span>¿QUÉ ES </span> AVIS<span class="celeste">APP</span>?</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<p>AvisAPP es una  aplicación web que podrás abrir desde cualquier dispositivo móvil, y te  permitirá saber siempre lo que está ocurriendo a tu alrededor, a través  de avisos georeferenciados ubicados cerca tuyo.</p>
                    <br>
                    <div class="col-md-12">								
								<button type="button" class="btn purchase_button">INGRESA AHORA!</button>
				  </div>
					<div class="wel_img"><img src="{{asset('bundles/avisapppaginas/images/welcome/welcome.png')}}" alt="img"></div>
				</div>
			</div>
		</div>
	</section>
    
    

		
	<!-- About -->	
    <section id="about" class="wrapper lightgray">		
		<div class="container text-center service">
			<div class="row">
				<div class="col-md-12 title" data-uk-scrollspy="{cls:'uk-animation-scale-up', repeat: true}">
					<h2><span>PASO A</span> PASO</h2>
				</div>			
				<!--<div class="col-md-12">
					<p>AvisAPP es una aplicación para smartphones, que tiene su foco en mejorar la prevención del delito, y otros sucesos que afecten la calidad de vida de las personas,<br>
					  mejorando la comunicación entre los ciudadanos, principalmente aquellos que se sienten vulnerables ante la delincuencia y otros acontecimientos peligrosos, y deseen<br>
				    obtener información actualizada entorno al lugar en el que se encuentran.</p>
				</div>-->
			</div>					
			<div class="row">
				<div class="col-md-3" data-uk-scrollspy="{cls:'uk-animation-fade', delay:200}">
                                    {% for caluga in caluga %}
                                        {# asset('bundles/avisapppaginas/images/icons/01.png') #}
					<i class="fa fa-edit"><img src="../../avisapppaginas/images/icons/{{caluga.foto}}"></i>	
					<h4>{{caluga.titulo}}</h4>
					<p>{{caluga.descripion}}</p>					
                                     {% endfor %}   
				</div>
			</div>
		</div>
	</section>	
		
	
		
	
	
	<!-- Service2 -->	
	<section id="service2" class="wrapper">
        <div class="container text-center">        	
            <div class="row">
				<div class="col-md-12 title" data-uk-scrollspy="{cls:'uk-animation-scale-up', repeat: true}">
					<h2><span>BENEFICIOS</span> DE AVISAPP</h2>
				</div>
			</div>
			
        	<div class="row">
				<div class="col-md-6 col-sm-3" data-uk-scrollspy="{cls:'uk-animation-fade', delay:200}">
					<div class="img-circle">
						<img src="{{asset('bundles/avisapppaginas/images/services/bene01.png')}}" alt="img"/>
					</div>
                    <h3>Interactúa</h3>
					
					<div class="icon_hover">	
						<h3>Interactúa</h3>
                        <br>
                        <br>
						<p>Interactúa con otros usuarios sin la necesidad de conocerlos o tener sus datos, envíales Avisos, lee y comenta los suyos, y relaciónate con usuarios que estén cerca tuyo.  </p>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
					</div>
                </div>
				
				<div class="col-md-6 col-sm-3" data-uk-scrollspy="{cls:'uk-animation-fade', delay:800}">
					<div class="img-circle">
						<img src="{{asset('bundles/avisapppaginas/images/services/bene02.png')}}" alt="img"/>
					</div>
                    <h3>Crea tus propias comunidades</h3>
					<br>
                    <br>
					<div class="icon_hover">	
						<h3>Crea tus propias comunidades</h3>
						<p>Crea tus propias comunidades en donde quieras, y entérate de los avisos y comentarios que se hacen en esos lugares. Con AvisAPP podrás conocer no sólo lo que ocurre en torno a tu ubicación geolocalizada, sino que también en todos aquellos lugares sean de tu interés.</p>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
					</div>					
                 </div>
			</div>
		</div>
	</section>
	
	
	
	<!-- contact -->	 
	<section id="contact" class="wrapper">
		<div class="container text-center">
			<div class="row">
				<div class="col-md-12 title" data-uk-scrollspy="{cls:'uk-animation-scale-up', repeat: true}">
					<h2>CONTACTO</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<p>Ayúdanos a mejorar AvisAPP</p></div>
			</div> 

			<div class="row">				
				<div class="contFrm">
								
						<form id="contactform" action="http://thethemelab.com/envato/Pending/Provat/lib/Simple-Form/mail.php" method="post">	
							<div class="col-md-6 col-sm-6 text-right">													
								<fieldset>										
									<input type="text" name="Your_Name" placeholder="Nombre">
								</fieldset>
                                <fieldset>
                                	<input type="text" name="Email_Address" placeholder="Correo electrónico">
                                </fieldset>
								
								
							</div>
							<div class="col-md-6 col-sm-6 text-left">
								<fieldset>																		
									
									<textarea name="Message" placeholder="Comentarios"></textarea>
								</fieldset>
								<fieldset>
									<input type="submit" value="Enviar!" class="button">									
								</fieldset>
							</div>
						</form>							
				</div>
			</div>
		</div>
	</section>    
        
	<!-- footer -->	
	<div class="footer lightgray">
		<div class="container text-center">
			<div class="row">
				<div class="col-md-12" data-uk-scrollspy="{cls:'uk-animation-scale-up', repeat: true}">
					<img src="{{asset('bundles/avisapppaginas/images/logo/logo_short.png')}}" alt="img"/>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">					
						<ul class="social" data-uk-scrollspy="{cls:'uk-animation-scale-up', repeat: true}">					
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
	
						</ul> 
				</div>
			</div>
			<div class="row">
				<div class="col-md-12"><p>2014 &copy; AvisAPP Ltda. All rights reserved.</p></div>
			</div>			
		</div>
	</div>   
{% endblock %}