{% extends "avisappadminBundle:Layers:basePrincipal.html.twig" %}
{% block title%} Editar Carrusel Portada {% endblock%}
{% block padre %}<a href="{{path('admin_slider')}}">Listar Carrusel Portada</a>{% endblock %}
{% block hijo %} Editar Carrusel Portada {%endblock%}
{% block titulo %} Editar Carrusel Portada {%endblock %}
{% block contenido %}
    {{ form_start(edit_form)}}
    <div class="form-group">
        {{form_label(edit_form.texto, 'Texto (Máximo 20 caracteres con espacios.) ', {'label_attr': {'class': 'col-sm-2 control-label'}})}}
        <div class="col-sm-10">
            {{form_widget(edit_form.texto, {'attr': {'class': 'form-control'}})}}
        </div>
    </div>
    <br />
    <br />
        <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
             {{form_widget(edit_form.submit,{'label': 'Editar'}, {'attr': {'class': 'btn btn-primary'}})}}
             
        </div>
    </div>
    {{ form_start(edit_form)}}
{% endblock %}
