{% extends "avisappadminBundle:Layers:basePrincipal.html.twig" %}
{% block title%} Listar Carrusel Portada {% endblock%}
{% block padre %}<a href="{{path('admin_slider_new')}}">Crear Carrusel Portada</a>{% endblock %}
{% block hijo %} Listar Carrusel Portada {%endblock%}
{% block titulo %} Listar Carrusel Portada {%endblock %}
{% block contenido %}
    <table class="records_list">
        <thead>
            <tr>
            
                <th>Texto</th>
                <th>Eliminar</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.texto }}</td>
                <td>
                    <form action="{{ path('admin_slider_delete', { 'id': entity.id }) }}" method="post">
                        <input type="hidden" name="_method" value="DELETE" />
                        {{ form_widget(deleteForms[entity.id]) }}
                    </form>
                </td>
                <td><a href="{{ path('admin_slider_edit', { 'id': entity.id }) }}" class="btn btn-primary">Editar</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
