{# empty Twig template #}
{# empty Twig template #}

<div class="cl-sidebar">
     <div class="cl-toggle"><i class="fa fa-bars"></i></div>
     <div class="cl-navblock">
       <ul class="cl-vnavigation">
         <li><a href="{{path('vistaPrincipal')}}"><i class="fa fa-home"></i>Principal</a></li>
    
         <!-- Crud Usuario -->
         <li><a href="#"><i class="fa fa-list-alt"></i>Usuarios </a>
           <ul class="sub-menu">
               
                             
             <li><a href="{{path('usuario_new')}}">Agregar Usuario</a></li>
             <li><a href="#">Listar Usuarios / Editar /  Eliminar</a></li>
 
             
           </ul>
         </li>
         <!-- Crud Usuario -->
         
         <!-- Crud Slider -->
         
         <li><a href="#"><i class="fa fa-list-alt"></i>Slider</a>
           <ul class="sub-menu">
               
                             
             <li><a href="{{path('admin_slider_new')}}">Agregar Slider</a></li>
             <li><a href="{{path('admin_slider')}}">Listar Slider / Editar /  Eliminar</a></li>
 
             
           </ul>
         </li>
         <!-- Crud Slider -->
         <!-- Crud Caluga -->
        <li><a href="#"><i class="fa fa-list-alt"></i>Caluga</a>
           <ul class="sub-menu">
               
                             
             <li><a href="{{path('admin_caluga_new')}}">Agregar Caluga</a></li>
             <li><a href="{{path('admin_caluga')}}">Listar Caluga / Editar /  Eliminar</a></li>
 
             
           </ul>
         </li>
        <!-- Crud Caluga -->
        <!-- Crud Caluga Beneficio -->
        <li><a href="#"><i class="fa fa-list-alt"></i>Caluga Beneficio</a>
           <ul class="sub-menu">
               
                             
             <li><a href="{{path('admin_calugabeneficio_new')}}">Agregar Caluga Beneficio</a></li>
             <li><a href="{{path('admin_calugabeneficio')}}">Listar Caluga Beneficio / Editar /  Eliminar</a></li>
 
             
           </ul>
         </li>
         <!-- Crud Caluga Beneficio -->
        <!-- Crud Caluga Texto Que es -->
        <li><a href="#"><i class="fa fa-list-alt"></i>Texto Que es?</a>
           <ul class="sub-menu">
               
                             
             <li><a href="{{path('admin_textoquees_new')}}">Agregar Texto Que es?</a></li>
             <li><a href="{{path('admin_textoquees')}}">Listar Texto Que es? / Editar /  Eliminar</a></li>
 
             
           </ul>
         </li>
         <!-- Crud Caluga Texto Que es -->
       </ul>
    </div>
   </div>