{% extends "avisappadminBundle:Layers:basePrincipal.html.twig" %}
{% block title%} Listar, Propuesta de Valor. {% endblock%}
{% block padre %}<a href="{{path('admin_textoquees_new')}}">Crear Propuesta de Valor.</a>{% endblock %}
{% block hijo %} Listar, Propuesta de Valor. {%endblock%}
{% block titulo %} Listar, Propuesta de Valor. {%endblock %}
{% block contenido %}
<table class="records_list">
    <thead>
        <tr>
            <th>Propuesta de Valor.</th>
            <th>Eliminar</th>
            <th>Editar</th>
        </tr>
    </thead>
    <tbody>
        {% for entity in entities %}
        <tr>
            <td>{{ entity.texto }}</td>
            <td>
                <form action="{{ path('admin_textoquees_delete', { 'id': entity.id }) }}" method="post">
                    <input type="hidden" name="_method" value="DELETE" />
                        {{ form_widget(deleteForms[entity.id]) }}
                </form>
            </td>
            <td><a href="{{ path('admin_textoquees_edit', { 'id': entity.id }) }}" class="btn btn-primary">Editar</a></td>
        {% endfor %}
    </tbody>
</table>
    {% endblock %}
