{% extends "avisappadminBundle:Layers:basePrincipal.html.twig" %}
{% block title%} Ver Caluga {% endblock%}
{% block padre %}<a href="{{path('admin_caluga')}}">Listar Calugas</a>{% endblock %}
{% block hijo %} Ver Caluga {%endblock%}
{% block titulo %} Ver Caluga {%endblock %}
{% block contenido %}


    <h1>TextoQuees</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Texto</th>
                <td>{{ entity.texto }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_textoquees') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_textoquees_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
