{% extends "avisappadminBundle:Layers:basePrincipal.html.twig" %}
{% block title%} Listar Usuario {% endblock%}
{% block padre %}<a href="{{path('usuario_new')}}">Agregar Usuarios</a>{% endblock %}
{% block hijo %} Listar Usuario {%endblock%}
{% block titulo %} Listar Usuario {%endblock %}
{% block contenido %}
    <table class="records_list table">
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Contrasena</th>
                <th>Rol</th>
                <th>Ver</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.usuario }}</td>
                <td>{{ entity.contrasena }}</td>
                <td>{{ entity.rol }}</td>
                
                <td><a href="{{ path('usuario_show', { 'id': entity.id }) }}" class="btn btn-success">Ver</a></td>
                <td><a href="{{ path('usuario_edit', { 'id': entity.id }) }}" class="btn btn-primary">editar</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
